form{
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 20%;
}

fieldset { 
    margin-top: 20px;
    padding: 20px; 
    text-align: center;
    background-color: lightgray;
    border-radius: 50px 20%;
    border-bottom: 1px solid black;
}

input {
    width: 250px; 
    height: 20px;
    border: none;        
    border-radius: 5px;
    background-color: whitesmoke;
}

textarea {
    width: 250px;
    resize: none;
    border: none;
    border-radius: 5px;
    background-color: whitesmoke;
}

button {
    background-color: #d3d3d3;
    border-color: transparent;
    padding: 6px 12px;
    border-radius: 5px;
}

button:focus{
    background-color: gray;
    color: white;
}